<main role="main">

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3 title">Portfolio of kojiisd</h1>
        <p class="subtitle">This is a website for Portfolio of kojiisd (Japanese CloudNative software developer).</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
      </div>
    </div>

    <div class="container">
      <h2 class="title">Links</h2>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <h2 class="title"><img width="120px" src="{{ .Site.BaseURL }}/images/github.png" /></h2>
          <p class="subtitle"><a target="_blank" href="https://github.com/kojiisd/">GitHub</a></p>
        </div>
      <div class="col-md-4">
        <h2 class="title"><img width="120px" src="{{ .Site.BaseURL }}/images/qiita-square.png" /></h2>
        <p class="subtitle"><a target="_blank" href="https://qiita.com/kojiisd/">Qiita</a></p>
      </div>
      <div class="col-md-4">
        <h2 class="title"><img width="120px" src="{{ .Site.BaseURL }}/images/maintenance.png" /></h2>
        <p class="subtitle">Coming Soon</p>
      </div>
      </div>

      <hr>
    </div> 
  </main>